http://creator.xingliu-test.8023time.com {
  reverse_proxy 127.0.0.1:8081
}

http://xingliu-test.8023time.com {
  reverse_proxy 127.0.0.1:8080
}

http://api.xingliu-test.8023time.com {
  reverse_proxy 127.0.0.1:3000
}  